/**
 * Book Reader - SCSS - Modules
 *
 * since		07.12.2016
 * version		1.0.0.0
 * author		mlbors
 * copyright	-
 */

/****************************/
/********** BANNER **********/
/****************************/

.banner {

    &,
    .banner-content {
        position: relative;
        display: block;
        margin: 0;
        clear: both;
    }

    & {
        padding: 0;
        overflow: hidden;
    }

    .banner-content {
        padding: $myGutter;
    }

    .bg-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .main-image {
        width: 300px;
        height: auto;
    }

}